<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png)$">
    Header append Vary: Accept
    Header set Cache-Control "public"
    Header set Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteCond %{HTTP_ACCEPT} image/webp
      RewriteCond %{DOCUMENT_ROOT}/$1.webp -f
      RewriteRule (.+)\.(jpe?g|png)$ $1.webp [T=image/webp,E=accept:1]
      Header append Vary Accept env=REDIRECT_accept
    </IfModule>
  </FilesMatch>
</IfModule>
